.quoteBox {
    flex-wrap: wrap;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    place-items: center;
    width: min(100%, 400px);
    padding: 20px 10px;
    margin: 0 auto;
    

}

.title {
    font-size: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    color: rgb(13, 5, 1);
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    margin-top: 20%;
}

.section {
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-rows: auto 1fr auto;
    margin-bottom: 0;
  }
  
  .card {
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    color: rgb(13, 5, 1);
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    width: 250px;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-bottom: 40%;
  }

  .button {
    position:absolute;
    background-color: rgb(255, 85, 0);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;  
    margin-top: 30%;
    
  }

  
  
  .button:hover {
    background-color: rgb(28, 160, 28);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    
  }


  .footer_card{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    color: rgb(48, 48, 47);
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    margin-top: 55%;
  }

  .footer {
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    color: rgb(48, 48, 47);
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    
  }
  

